In [45]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data,labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [46]:
#Question 1 : Print the three first rows using the head() method.

df1 = df.head(3)
print(df1)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [47]:
#Question 2 : Delete rows with Nan values.

df2=df.dropna()
print(df2)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [48]:
#Question 3 : Extract the 'name' and 'score' columns from the DataFrame.

df3 = df2[['name','score']]
print(df3)

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0

In [49]:
#Question 4 : Write a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").

k= {'name': 'Suresh',
    'score': 15.5,
    'attempts': 1,
    'qualify': ['yes']}

df4 = pd.concat([df2,pd.DataFrame(k)])
print(df4)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
0     Suresh   15.5         1     yes

In [50]:
#Question 5 : Write a Pandas program to delete the 'attempts' column from the DataFrame.

df5 = df4.drop('attempts',axis=1)
print(df5)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
i      Kevin    8.0      no
j      Jonas   19.0     yes
0     Suresh   15.5     yes

In [51]:
#Question 6 : Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.

df5['Success'] = np.where(df5['score']>10, '1', '0')
print(df5)

        name  score qualify Success
a  Anastasia   12.5     yes       1
b       Dima    9.0      no       0
c  Katherine   16.5     yes       1
e      Emily    9.0      no       0
f    Michael   20.0     yes       1
g    Matthew   14.5     yes       1
i      Kevin    8.0      no       0
j      Jonas   19.0     yes       1
0     Suresh   15.5     yes       1

In [52]:
#Question 7 : After executing the final DataFrame, export it into a CSV file named "my_data".
#print(df5)
df5.to_csv("my_data.csv", index=False)